body{
    display: flex;
    height: 100dvh;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
a{
    color: black;
    text-decoration: none;

    &:visited{
        color: grey;
    }
    &:hover{
        color: green;
        text-decoration:underline;
    }
    &:active{
        color: blue;
        text-decoration: none;
    }
}